@font-face {
  font-family: 'Recoleta-Medium';
  src: local('Recoleta-Medium'),
    url(./fonts/Recoleta/Recoleta-Medium.otf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'),
    url(./fonts/Roboto/Roboto-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'),
    url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter-Medium';
  src: local('Inter-Medium'),
    url(./fonts/Inter/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular'),
    url(./fonts/Inter/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Uni-Neue-Black';
  src: local('Uni-Neue-Black'),
    url(./fonts/UniNeue/UniNeue-Black.ttf) format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Uni-Neue-Bold';
  src: local('Uni-Neue-Bold'),
    url(./fonts/UniNeue/UniNeue-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Uni-Neue-Regular';
  src: local('Uni-Neue-Regular'),
    url(./fonts/UniNeue/UniNeue-Regular.ttf) format('truetype');
  font-weight: 400;
}
